/*================== Project ==================*/
.project
{
    text-align: center;
    background: var(--bg--opacity), url("../img/bg1.png");
    background-size: cover;
}

.project__bg
{
     background-color: var(--first-color);
     background-image:url('../img/bg3.png');
     
}

.project__container
{
    align-items: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.project__title
{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description
{
    margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description
{
    color: #fff;
}

.project__img
{
    width:260px;
    justify-self: center;
}